@model string
@{
    ViewData["Title"] = "AddImage";
}

<h1>AddImage</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            @Model
        </div>
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="files" multiple />
                <input type="submit" />
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>